/*content-right*/
/*color: #eef3f5;
border: 1px solid #6286e0;
color: #616366;*/

input {
	border: 1px solid #eeeeee;
	//border-radius: 50px;
	height: 30px;
	//font-size: 1.875rem/* 30px */;
	vertical-align: middle;
}

input:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

input[type="text"] {
	padding-left: 10px;
	//width: 536px;
	background-position: 25px 25px;
}
/*placeholder颜色*/

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	/* WebKit browsers */
	color: lightgray;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: lightgray;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: lightgray;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: lightgray;
}

.right{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: #616366;
}
.addandmodify-tittle{
	margin-bottom: 40px;
}
.addandmodify-content{
	display: flex;
	
}

.content-left-name{
	display: flex;
	align-items: center;
	margin: 20px 20px 10px 0;
}
.name-textbox{
	margin-left: calc(100% - 73.35px - 168.8px);
}
.content-left-shorcut{
	display: flex;
	align-items: center;
	margin: 10px 20px 10px 0;
}
.shorcut-textbox{
	margin-left: calc(100% - 88.94px - 168.3px);
}
.content-left-default{
	display: flex;
	align-items: center;
	margin: 10px 20px 10px 0;
}
.default-textbox{
	margin-left: calc(100% - 83.38px - 168.3px);
}
.content-left-urgency{
	display: flex;
	align-items: center;
	margin: 10px 20px 10px 0;
}
.urgency-textbox{
	margin-left: calc(100% - 94.48px - 168.3px);
}

.content-right-type{
	display: flex;
	align-items: center;
	margin: 20px 20px 10px 0;
}
.type-select{
	margin-left: calc(100% - 63.36px - 120px);
}
.content-right-relation{
	display: flex;
	align-items: center;
	margin: 10px 20px 10px 0;
}
.relation-select{
	margin-left: calc(100% - 93.39px - 120px);
}
.requestable-select{
	margin-left: calc(100% - 132.31px - 120px);
}
.consumable-select{
	margin-left: calc(100% - 132.29px - 120px);
}
.content-right-requestable{
	display: flex;
	align-items: center;
	margin: 10px 20px 10px 0;
}
.content-right-consumable{
	display: flex;
	align-items: center;
	margin: 10px 20px 10px 0;
}

/*修改select*/


.addandmodify-content-left{
	display: flex;
	justify-content: center;
	flex-direction: column;
	//border: 1px solid blue;
	margin-right: 20px;
}
.addandmodify-content-right{
	display: flex;
	justify-content: center;
	flex-direction: column;
	//border: 1px solid red;
	margin-left: 20px;
}
/*重写select*/

/*select高度宽度*/
.addandmodify-content-right .sod_select{
	padding: 6px 6px;
	width: 120px;
}
/*option高度宽度*/
.addandmodify-content-right .sod_select .sod_list {
	width: 120px;
}
/*select箭头位置*/
.addandmodify-content-right .sod_select:after {
	top: 8px;
}

.addandmodify-content-right .sod_select .sod_list li {
	
	padding: 6px 6px 6px 25px;
	
}
