/*content-right*/

.right {
	//background-color: #e3e4ef;
	margin-top: 40px;
}

.right-header {
	display: flex;
	justify-content:center;
	margin-top: 20px;
}

.right-header-buttom {
	display: flex;
	//border: 1px solid green;
	color: #eef3f5;
}

.right-header-submit {
	text-align: center;
	width: 80px;
	padding: 12px;
	margin-right: 100px;
	border: 1px solid #6286e0;
	border-radius: 5px;
	background-color: #6286e0;
}

.right-header-buttom-style{
	text-align: center;
	width: 80px;
	padding: 12px;
	margin-right: 6px;
	border: 1px solid #6286e0;
	border-radius: 5px;
	background-color: #6286e0;
}


.right-content {
	display: flex;
	flex-direction: column;
	align-content: center;
	background-color: #FFFFFF;
	margin: 20px 40px 20px 40px;
	//border: 1px solid red;
}
.right-content-outer{
	margin-bottom: 40px;
}
.content-table {
	display: flex;
	justify-content: center;
}

.jobcontrol-table {
	color: #616366;
}

table {
	border-collapse: collapse;
}

.content-table {
	display: flex;
}

.jobcontrol-table td {
	border: 1px solid lightgray;
	width: 160px;
	height: 40px;
	text-align: center;
}
