

.right {
	color: #616366;
	font-size: 14px;
}

.right-header {
	display: flex;
	margin-left: 200px;
	margin-top: 20px;
}


.right-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin: 20px 40px 20px 200px;
	background-color: #FFFFFF;
}

.tittle-control{
	margin:20px 0 10px 0;
	font-size: 16px;
	color: #3f51b5;
}
.marign-control{
	margin: 0 40px 0 0;
}
.input-text-position-control{
	margin-left: 10px;
}

.policy-importance-factor{
	display: flex;
	flex-direction: column;
}

.policy-importance-factor-content{
	display: flex;
}

.priority,
.urgency,
.ticket,
.weight-deadline,
.weight-waiting-time{
	display: flex;
	align-items: center;
}

.urgency-policy{
	display: flex;
	flex-direction: column;
}
.urgency-policy-content{
	display: flex;
}
.ticket-policy{
	margin-top: 10px;
	display: flex;
}



.share-tree-ticket,
.function-tickets,
.override-tickets,
.total-share-tree-tickets,
.total-function-tickets,
.ticket-policy-hierachy{
	margin-top: 14px;
}

.share-tree-ticket-tittle,
.function-tickets-tittle,
.override-tickets-tittle,
.total-share-tree-tickets-tittle,
.total-function-tickets-tittle,
.max-function-jobs-tittle,
.max-pending-tasks-per-job-tittle,
.ticket-policy-hierachy-tittle{
	margin-bottom: 6px;
}

.ticket-policy-right,
.max-pending-tasks-per-job{
	margin-left: 60px;
}

.checkbox,
.maximum{
	display: flex;
	margin-top: 20px;
	align-items: center;
}

.bottom{
	display: flex;
	margin-top: 20px;
	justify-content: center;
}

.refresh,
.apply{
	
    width: 60px;
    padding: 4px;
    margin-right: 20px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #6286e0;
    border-radius: 5px;
    background-color: #6286e0;
   
}

/*取消点击radio的阴影*/
.checkbox input:focus{
	box-shadow: none;
}