
/*content-right*/

.right {
	//background-color: #e3e4ef;
	margin-top: 40px;
}

.right-header {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.right-header-buttom {
	display: flex;
	align-items: center;
	//border: 1px solid green;
	color: #eef3f5;
}

.right-header-commit {
	text-align: center;
	width: 80px;
	padding: 10px;
	border: 1px solid #6286e0;
	border-radius: 5px;
	background-color: #6286e0;
}

.right-header-post {
	text-align: center;
	width: 80px;
	padding: 8px;
	margin-right: 10px;
	border: 1px solid #6286e0;
	border-radius: 5px;
	background-color: #6286e0;
}

.right-header-setting {
	display: flex;
	margin-left: 200px;
	//border: 1px solid blue;
	align-items: center;
}

.right-header-font {
	color: #eef3f5;
}

.right-header-clean {
	text-align: center;
	width: 60px;
	padding: 7px;
	margin-right: 10px;
	border: 1px solid #6286e0;
	border-radius: 5px;
	background-color: #6286e0;
}

.right-header-reload {
	text-align: center;
	width: 60px;
	padding: 8px;
	margin-right: 10px;
	border: 1px solid #6286e0;
	border-radius: 5px;
	background-color: #6286e0;
}

.right-header-settings {
	text-align: center;
	width: 60px;
	padding: 8px;
	margin-right: 10px;
	border: 1px solid #6286e0;
	border-radius: 5px;
	background-color: #6286e0;
}

.right-content {
	display: flex;
	flex-direction: column;
	align-content: center;
	background-color: #FFFFFF;
	margin: 20px 40px 20px 40px;
	//border: 1px solid red;
}

.right-content-outer {
	margin-bottom: 40px;
}



input {
	border: 1px solid #eeeeee;
	//border-radius: 50px;
	height: 30px;
	//font-size: 1.875rem/* 30px */;
	vertical-align: middle;
}

input:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

input[type="text"] {
	padding-left: 10px;
	//width: 536px;
	background-position: 25px 25px;
}


/*placeholder颜色*/

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	/* WebKit browsers */
	color: lightgray;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: lightgray;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: lightgray;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: lightgray;
}

.sod_select .sod_list {
	width: 140px;
}

/**/
.save-iron img{
	margin-left: 10px;
	margin-top: 5px;
	width: 18px;
}

.advanced-setting-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #616366;
	font-size: 20px;
}
.advanced-setting-item{
	display: flex;
	justify-content: center;
}

.parallel-enviroment{
	display: flex;
	align-items: center;
}
.parallel-enviroment-boxandimg{
	display: flex;
	justify-content: center;
	align-items: center;
}
.enviroment{
	display: flex;
	align-items: center;
}
.enviroment-boxandimg{
	display: flex;
	justify-content: center;
	align-items: center;
}
.context{
	display: flex;
	align-items: center;
}
.context-boxandimg{
	display: flex;
	justify-content: center;
	align-items: center;
}
.checkpoint-object{
	display: flex;
	align-items: center;
}
.checkpoint-object-boxandimg{
	display: flex;
	justify-content: center;
	align-items: center;
}
.account{
	display: flex;
	align-items: center;
}
.account-boxandimg{
	display: flex;
	justify-content: center;
	align-items: center;
}
.advance-reservation{
	display: flex;
	align-items: center;
}
.advance-reservation-boxandimg{
	display: flex;
	justify-content: center;
	align-items: center;
}
.jsv-url{
	display: flex;
	align-items: center;
}
.jsv-url-boxandimg{
	display: flex;
	justify-content: center;
	align-items: center;
}

.binding{
	display: flex;
	align-items: center;
}
.binding-boxandimg{
	display: flex;
	justify-content: center;
	align-items: center;
}

.verify-mode{
	display: flex;
	align-items: center;
}

.mail-checkbox{
	font-size: 16px;
	margin-top: 10px;
	display: flex;
	align-items: center;
}

.mail-checkbox input:focus {
	box-shadow: none;
}
.start-of-job{
	margin-right: 20px;
}
.mail-to{
	display: flex;
	align-items: center;
}
.mail-to-boxandimg{
	display: flex;
	justify-content: center;
	align-items: center;
}
.hard-queue-list{
	display: flex;
	align-items: center;
}
.hard-queue-list-boxandimg{
	display: flex;
	justify-content: center;
	align-items: center;
}

.soft-queue-list{
	display: flex;
	align-items: center;
}
.soft-queue-list-boxandimg{
	display: flex;
	justify-content: center;
	align-items: center;
}

.master-queue-list{
	display: flex;
	align-items: center;
}
.master-queue-list-boxandimg{
	display: flex;
	justify-content: center;
	align-items: center;
}

.job-dependecies{
	display: flex;
	align-items: center;
}
.job-dependecies-boxandimg{
	display: flex;
	justify-content: center;
	align-items: center;
}

.hold-array-dependecies{
	display: flex;
	align-items: center;
}
.hold-array-dependecies-boxandimg{
	display: flex;
	justify-content: center;
	align-items: center;
}

/*对左右两列进行排版*/
.advanced-setting-left{
	display: flex;
	flex-direction: column;
	//border: 1px solid red;
	padding: 12px;
	margin-right: 30px;
}
.advanced-setting-right{
	display: flex;
	flex-direction: column;
	//border: 1px solid blue;
	padding: 12px;
	margin-left: 30px;
}

.list-margin-control{
	margin: 20px 0 10px 0;
}

