

.right {

	color: #616366;
}

.right-header {
	display: flex;
	justify-content:center;
	margin-top: 20px;
}

.right-header-buttom {
	display: flex;
	color: #eef3f5;
}

.right-header-shutdown {
	
	width: 80px;
	padding: 12px;
	margin-right: 100px;
	text-align: center;
	border: 1px solid #6286e0;
	border-radius: 5px;
	background-color: #6286e0;
}

.right-header-buttom-style{
	
	width: 80px;
	padding: 12px;
	margin-right: 6px;
	text-align: center;
	border: 1px solid #6286e0;
	border-radius: 5px;
	background-color: #6286e0;
}


.right-content {
	display: flex;
	flex-direction: column;
	align-content: center;
	margin: 20px 40px 20px 40px;
	background-color: #FFFFFF;
	
}

.host-selection{
	display: flex;
	justify-content: center;
}
.host-style{
	width: 200px;
	padding: 6px;
	margin: 20px 0 20px 0;
	text-align: center;
	border: 1px solid #eeeeee;
}
.host{
	display: flex;
	align-items: center;
	margin-left: 220px;
	margin-top: 40px;
}

.host-display{
	margin-top: 20px;
	margin-left: 220px;
}
.host-display-textarea-box{
	margin-top: 10px;
	width: 300px;
	height: 250px;
	border: 1px solid #eeeeee;
}
